[submodule "lib/dnet-p2p"]
	path = lib/dnet-p2p
	url = https://github.com/firstbatchxyz/dnet-p2p.git
	branch = master

[submodule "lib/distilp"]
	path = lib/distilp
	url = https://github.com/firstbatchxyz/distilp.git
	branch = master
