[submodule "lib/dnet-p2p"]
	path = lib/dnet-p2p
	url = https://github.com/firstbatchxyz/dnet-p2p
	branch = master

[submodule "lib/dperf"]
	path = lib/dperf
	url = https://github.com/firstbatchxyz/py-dperf
	branch = master

[submodule "lib/distilp"]
	path = lib/distilp
	url = https://github.com/firstbatchxyz/distilp
	branch = master
