# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.4
    hooks:
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi]
      # Run the linter.
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy .
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
